<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title><%= room.roomName ? room.roomName : 'Room' %></title>
    <link rel="stylesheet" href="../public/css/room.css">
</head>
<body>
    <div id="body-containner" >
        <%- include('./reusable/reload.ejs') %>
        
        <div id="containner">
            <div id="click-containner">
                <div id="click-roomPic">
                    <img src="<%= room.roomPic %>" alt="">
                </div>
                <div id="click-text">
                    <p>Voce esta entrando no servidor: (<%= room.roomName %>) Deseja Continuar?</p>
                </div>
                <div id="click-buttons">
                    <input type="button" id="click-button-back" value="Voltar">
                    <input type="button" id="click-button-continuar" value="Continuar">
                </div>
            </div>
            <main id="main-containner" style="display: none;">
                <div id="main-content">
                    <div  id="queue-containner">
                        <div id="queue-title-containner">
                            <h1 id="queue-title-h1">Fila de Reprodução</h1>
                        </div>
                        <div id="queue-content">
                            <div id="queue-row">
                                <% if (room.queue != null || room.queue != undefined) { %>
                                    <% room.queue.forEach(element => { %>
                                        <div class="queue-col" data-index="<%= element.index %>">
                                            <div class="queue-col-count">
                                                <span class="queue-col-count-span"><%= element.index %></span>
                                            </div>
                                            <div class="queue-col-music-stats">
                                                <div class="queue-col-music-pic">
                                                    <img src="<%= element.thumbnail %>" class="queue-col-music-pic-img">
                                                </div>
                                                <div class="queue-col-music-texts">
                                                    <div class="queue-col-music-texts-music">
                                                        <h1 class="queue-col-music-texts-music-h1"><%= element.musica %></h1>
                                                    </div>
                                                    <div class="queue-col-music-texts-banda">
                                                        <p class="queue-col-music-texts-banda-p"><%= element.banda %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="linha"></div>
                                    <% }) %>
                                <% } %>
                                
                            </div>
                        </div>
                    </div>
                    <div id="chat-containner">
                        <div id="chat-content">
                            <div id="main-chat-containner">
                                <div id="main-chat-content">
                                    <div id="main-chat-row">
                                        <% if (room.queue != null || room.queue != undefined) { %>
                                            <% room.mensages.forEach(element => { %>
                                                <% if (element.mensage) { %>
                                                    <div class="main-chat-col">
                                                        <div class="main-chat-user-profile-pic">
                                                            <img src="<%= element.userPic %>" class="main-chat-user-profile-pic-img">
                                                        </div>
                                                        <div class="main-chat-text-containner">
                                                            <div class="main-chat-user-top">
                                                                <span class="main-chat-user-name-span"><%= element.userName %></span>
                                                                <span class="main-chat-user-date"><%= element.mensageDate %></span>
                                                            </div>
                                                            <div class="main-chat-user-mensage">
                                                                <p class="main-chat-user-mensage-p"><%= element.mensage %></p>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                <% }else if(element.command && !element.type){ %>
                                                    <div class="main-chat-command-col">
                                                        <div class="main-chat-command-col-content">
                                                            <div class="main-chat-command-text">
                                                                <p class="main-chat-command-text-p"><%= element.mensageDate %></p>
                                                                <h1 class="main-chat-command-text-h1">O Usuário <b><%= element.userName %></b> adicionou a música <b><%= element.resCommand.musica %></b> a fila de reprodução!</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }else if(element.type == 'playlistYT'){ %>
                                                    <div class="main-chat-command-col">
                                                        <div class="main-chat-command-col-content">
                                                            <div class="main-chat-command-text">
                                                                <p class="main-chat-command-text-p"><%= element.mensageDate %></p>
                                                                <h1 class="main-chat-command-text-h1">O Usuário <b><%= element.userName %></b> adicionou uma playlist do youtube a fila de reprodução!</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            <% }) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div id="mensage-containner">
                                <div id="top-mensage-content">
                                    <div id="mensage-perfil-content">
                                        <div id="mensage-perfil-pic">
                                            <img id="mensage-perfil-pic-img" src="<%= myUser.profilePic %>">
                                        </div>
                                        <div id="mensage-perfil-name">
                                            <h1 id="mensage-perfil-name-h1"><%= myUser.displayName %></h1>
                                        </div>
                                    </div>
                                    <div id="mensage-commands-content" title="Comandos">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.269 27.269" style="enable-background:new 0 0 27.269 27.269;" xml:space="preserve"><g><path d="M25.322,1.947H1.949C0.869,1.947,0,2.818,0,3.898v19.477c0,1.074,0.869,1.947,1.949,1.947h23.373 c1.07,0,1.947-0.873,1.947-1.947V3.898C27.27,2.818,26.393,1.947,25.322,1.947z M9.312,3.41c0.537,0,0.973,0.436,0.973,0.975 c0,0.537-0.436,0.973-0.973,0.973c-0.539,0-0.975-0.436-0.975-0.973C8.338,3.845,8.773,3.41,9.312,3.41z M6.33,3.41 c0.537,0,0.975,0.436,0.975,0.975c0,0.537-0.438,0.973-0.975,0.973c-0.539,0-0.975-0.436-0.975-0.973 C5.355,3.845,5.791,3.41,6.33,3.41z M3.406,3.41c0.541,0,0.975,0.436,0.975,0.975c0,0.537-0.434,0.973-0.975,0.973 c-0.535,0-0.971-0.436-0.971-0.973C2.436,3.845,2.871,3.41,3.406,3.41z M25.322,23.375H1.949V6.838h23.373 C25.322,6.838,25.322,23.375,25.322,23.375z"></path><path d="M14.797,15.566L5.844,20.16v-1.332l7.602-3.781v-0.039l-7.602-3.782V9.894l8.953,4.572V15.566z"></path><path d="M21.422,14.334v1.232h-4.764v-1.232H21.422z"></path></g></svg>
                                    </div>
                                </div>
                                <div id="bottom-mensage-content">
                                    <div id="emojis-mensage">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 512c-68.378906 0-132.667969-26.628906-181.019531-74.980469-48.351563-48.351562-74.980469-112.640625-74.980469-181.019531s26.628906-132.667969 74.980469-181.019531c48.351562-48.351563 112.640625-74.980469 181.019531-74.980469s132.667969 26.628906 181.019531 74.980469c48.351563 48.351562 74.980469 112.640625 74.980469 181.019531s-26.628906 132.667969-74.980469 181.019531c-48.351562 48.351563-112.640625 74.980469-181.019531 74.980469zm0-482c-60.367188 0-117.121094 23.507812-159.804688 66.195312-42.6875 42.683594-66.195312 99.4375-66.195312 159.804688s23.507812 117.121094 66.195312 159.804688c42.683594 42.6875 99.4375 66.195312 159.804688 66.195312s117.121094-23.507812 159.804688-66.195312c42.6875-42.683594 66.195312-99.4375 66.195312-159.804688s-23.507812-117.121094-66.195312-159.804688c-42.683594-42.6875-99.4375-66.195312-159.804688-66.195312zm0 0"></path><path d="m255.964844 379.308594c-36.738282 0-70.96875-19.792969-89.328125-51.652344-4.136719-7.179688-1.671875-16.351562 5.507812-20.484375 7.175781-4.140625 16.347657-1.671875 20.484375 5.503906 13.019532 22.597657 37.289063 36.632813 63.335938 36.632813 25.996094 0 50.238281-13.996094 63.273437-36.527344 4.148438-7.171875 13.324219-9.621094 20.496094-5.472656 7.171875 4.148437 9.621094 13.324218 5.472656 20.496094-18.378906 31.765624-52.574219 51.503906-89.242187 51.503906zm0 0"></path><path d="m178.667969 250.019531c-22.578125 0-40.949219-18.367187-40.949219-40.949219 0-22.578124 18.371094-40.949218 40.949219-40.949218 22.582031 0 40.949219 18.371094 40.949219 40.949218 0 22.578126-18.367188 40.949219-40.949219 40.949219zm0-51.898437c-6.035157 0-10.949219 4.910156-10.949219 10.949218 0 6.039063 4.914062 10.949219 10.949219 10.949219 6.039062 0 10.949219-4.910156 10.949219-10.949219 0-6.039062-4.910157-10.949218-10.949219-10.949218zm0 0"></path><path d="m332.222656 250.019531c-22.578125 0-40.949218-18.367187-40.949218-40.949219 0-22.578124 18.371093-40.949218 40.949218-40.949218s40.949219 18.371094 40.949219 40.949218c0 22.578126-18.367187 40.949219-40.949219 40.949219zm0-51.898437c-6.039062 0-10.949218 4.910156-10.949218 10.949218 0 6.039063 4.914062 10.949219 10.949218 10.949219 6.039063 0 10.949219-4.910156 10.949219-10.949219 0-6.039062-4.910156-10.949218-10.949219-10.949218zm0 0"></path></svg>
                                    </div>
                                    <div id="input-mensage-content">
                                        <input type="text" maxlength="400" id="input-mensage" placeholder="Escreva uma Mensagem">
                                    </div>
                                    <div id="send-mensage">
                                        <svg id="send-mensage-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><g><g><g><path d="M483.927,212.664L66.967,25.834C30.95,9.695-7.905,42.024,1.398,80.367l21.593,89.001 c3.063,12.622,11.283,23.562,22.554,30.014l83.685,47.915c6.723,3.85,6.738,13.546,0,17.405l-83.684,47.915 c-11.271,6.452-19.491,17.393-22.554,30.015L1.398,431.633c-9.283,38.257,29.507,70.691,65.569,54.534l416.961-186.83 C521.383,282.554,521.333,229.424,483.927,212.664z M468.609,265.151l-416.96,186.83c-7.618,3.417-15.814-3.398-13.845-11.516 l21.593-89.001c0.647-2.665,2.383-4.975,4.761-6.337l83.685-47.915c31.857-18.239,31.887-64.167,0-82.423l-83.685-47.916 c-2.379-1.362-4.115-3.672-4.761-6.337L37.804,71.535c-1.945-8.016,6.128-14.975,13.845-11.514L468.61,246.85 C476.522,250.396,476.542,261.596,468.609,265.151z"></path><path d="M359.268,238.907l-147.519-66.1c-9.444-4.231-20.523-0.005-24.752,9.435c-4.231,9.44-0.006,20.523,9.434,24.752 L305.802,256l-109.37,49.006c-9.44,4.231-13.664,15.313-9.434,24.752c4.231,9.443,15.312,13.663,24.752,9.435l147.519-66.101 C373.996,266.495,374.006,245.51,359.268,238.907z"></path></g></g></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="rigth-containner">
                        <div id="current-music-containner" >
                            <div id="current-music-title-containner">
                                <h1 id="current-music-title-h1">Musica Atual</h1>
                            </div>
                            <div id="current-music-content">
                                <div id="current-music-pic">
                                    <img src="https://res.cloudinary.com/dgcnfudya/image/upload/v1690939381/isjslkzdlkswe9pcnrn4.jpg" id="current-music-pic-img">
                                </div>
                                <div id="current-music-texts-containner">
                                    <div id="current-music-texts-name">
                                        <h1 id="current-music-texts-name-h1">Nome da Musica</h1>
                                    </div>
                                    <div id="current-music-texts-banda">
                                        <p id="current-music-texts-banda-p">Nome da Banda</p>
                                    </div>
                                </div>
                                <div style="width: calc(100% + 2em) !important;" class="linha"></div>
                                <div id="current-music-options-containner">
                                    
                                    <div id="current-music-options-content">
                                        <svg class="current-music-options-svg" id="current-music-options-svg-curtir" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 329.928 329.928" xml:space="preserve"><path d="M232.478,13.406c-24.56,0-48.827,9.248-67.511,25.279c-18.689-16.032-42.956-25.279-67.517-25.279 C42.805,13.406,0,56.212,0,110.857C0,176.912,45.99,217.286,115.604,278.4c5.95,5.224,12.091,10.614,18.41,16.202 c0.044,0.039,0.087,0.077,0.131,0.115l21.018,18.156c2.816,2.433,6.311,3.649,9.806,3.649s6.991-1.217,9.807-3.65l21.014-18.156 c0.044-0.038,0.087-0.076,0.131-0.114c41.606-36.797,72.802-64.967,95.37-92.439c26.36-32.088,38.638-61.101,38.638-91.305 C329.928,56.212,287.123,13.406,232.478,13.406z M176.105,272.076l-11.138,9.623l-11.145-9.628 c-6.324-5.592-12.47-10.988-18.426-16.217C69.671,198.155,30,163.328,30,110.857c0-38.454,28.997-67.451,67.45-67.451 c20.925,0,42.409,10.03,56.066,26.176c2.851,3.37,7.041,5.313,11.454,5.313c4.414,0,8.603-1.944,11.453-5.315 c13.651-16.145,35.131-26.174,56.056-26.174c38.452,0,67.449,28.997,67.449,67.451C299.928,160.154,255.188,202.134,176.105,272.076 z"></path></svg>
                                        <svg class="current-music-options-svg" id="current-music-options-svg-playlistAdd" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="add_to_playlist_pmftupht1zcd 1" clip-path="url(#clip0_1350_43)"><path id="Vector" d="M34.6431 2.03133C34.6431 2.37667 34.523 2.70786 34.3094 2.95204C34.0957 3.19623 33.8059 3.33341 33.5037 3.33341H1.6027C1.30053 3.33341 1.01074 3.19623 0.797079 2.95204C0.583415 2.70786 0.463379 2.37667 0.463379 2.03133C0.463379 1.686 0.583415 1.35481 0.797079 1.11062C1.01074 0.866432 1.30053 0.729248 1.6027 0.729248H33.5037C33.8059 0.729248 34.0957 0.866432 34.3094 1.11062C34.523 1.35481 34.6431 1.686 34.6431 2.03133ZM33.5037 13.7501H1.6027C1.30053 13.7501 1.01074 13.8873 0.797079 14.1315C0.583415 14.3756 0.463379 14.7068 0.463379 15.0522C0.463379 15.3975 0.583415 15.7287 0.797079 15.9729C1.01074 16.2171 1.30053 16.3542 1.6027 16.3542H33.5037C33.8059 16.3542 34.0957 16.2171 34.3094 15.9729C34.523 15.7287 34.6431 15.3975 34.6431 15.0522C34.6431 14.7068 34.523 14.3756 34.3094 14.1315C34.0957 13.8873 33.8059 13.7501 33.5037 13.7501ZM17.5532 26.7709H1.6027C1.30053 26.7709 1.01074 26.9081 0.797079 27.1523C0.583415 27.3965 0.463379 27.7277 0.463379 28.073C0.463379 28.4183 0.583415 28.7495 0.797079 28.9937C1.01074 29.2379 1.30053 29.3751 1.6027 29.3751H17.5532C17.8554 29.3751 18.1452 29.2379 18.3588 28.9937C18.5725 28.7495 18.6925 28.4183 18.6925 28.073C18.6925 27.7277 18.5725 27.3965 18.3588 27.1523C18.1452 26.9081 17.8554 26.7709 17.5532 26.7709ZM33.5037 26.7709H30.0858V22.8647C30.0858 22.5193 29.9657 22.1881 29.7521 21.944C29.5384 21.6998 29.2486 21.5626 28.9465 21.5626C28.6443 21.5626 28.3545 21.6998 28.1408 21.944C27.9272 22.1881 27.8071 22.5193 27.8071 22.8647V26.7709H24.3892C24.087 26.7709 23.7972 26.9081 23.5835 27.1523C23.3699 27.3965 23.2498 27.7277 23.2498 28.073C23.2498 28.4183 23.3699 28.7495 23.5835 28.9937C23.7972 29.2379 24.087 29.3751 24.3892 29.3751H27.8071V33.2813C27.8071 33.6267 27.9272 33.9579 28.1408 34.202C28.3545 34.4462 28.6443 34.5834 28.9465 34.5834C29.2486 34.5834 29.5384 34.4462 29.7521 34.202C29.9657 33.9579 30.0858 33.6267 30.0858 33.2813V29.3751H33.5037C33.8059 29.3751 34.0957 29.2379 34.3094 28.9937C34.523 28.7495 34.6431 28.4183 34.6431 28.073C34.6431 27.7277 34.523 27.3965 34.3094 27.1523C34.0957 26.9081 33.8059 26.7709 33.5037 26.7709Z" fill="white"/></g><defs><clipPath id="clip0_1350_43"><rect width="35" height="35" fill="white" transform="translate(0.0078125)"/></clipPath></defs></svg>
                                        <svg class="current-music-options-svg" id="current-music-options-svg-favoritar" viewBox="0 0 41 40"  xmlns="http://www.w3.org/2000/svg"><g id="favorite_zsbmczw5nz2n 1" clip-path="url(#clip0_1350_47)"><g id="Group"><g id="Group_2"><path id="Vector" d="M20.0078 0C8.97984 0 0.0078125 8.97203 0.0078125 20C0.0078125 31.028 8.97984 40 20.0078 40C31.0358 40 40.0078 31.028 40.0078 20C40.0078 8.97203 31.0358 0 20.0078 0ZM20.0078 37.3913C10.4183 37.3913 2.61648 29.5896 2.61648 20C2.61648 10.4104 10.4183 2.60867 20.0078 2.60867C29.5973 2.60867 37.3991 10.4105 37.3991 20C37.3991 29.5895 29.5973 37.3913 20.0078 37.3913Z" fill="white"/></g></g><g id="Group_3"><g id="Group_4"><path id="Vector_2" d="M30.1197 15.4848L23.9409 14.587L21.1777 8.98801C20.7001 8.02035 19.3162 8.0202 18.8384 8.98801L16.0752 14.587L9.89647 15.4848C8.8289 15.6397 8.40054 16.9561 9.17358 17.7096L13.6445 22.0678L12.5891 28.2215C12.4068 29.2848 13.5259 30.0988 14.4816 29.5966L20.008 26.6911L25.5344 29.5965C25.7253 29.6968 25.9337 29.7464 26.1413 29.7464C26.9442 29.7464 27.5645 29.0232 27.427 28.2215L26.3716 22.0678L30.8425 17.7096C31.6151 16.9566 31.188 15.64 30.1197 15.4848ZM24.0597 20.6784C23.7522 20.9781 23.6119 21.4098 23.6845 21.8329L24.4091 26.0577L20.6151 24.063C20.235 23.8632 19.7812 23.8632 19.4011 24.063L15.607 26.0577L16.3316 21.8329C16.4042 21.4098 16.264 20.9781 15.9565 20.6784L12.887 17.6864L17.129 17.07C17.5538 17.0082 17.921 16.7414 18.1111 16.3564L20.008 12.5125L21.9051 16.3564C22.0951 16.7414 22.4623 17.0082 22.8872 17.07L27.1291 17.6864L24.0597 20.6784Z" fill="white"/></g></g></g><defs><clipPath id="clip0_1350_47"><rect width="40" height="40" fill="white" transform="translate(0.0078125)"/></clipPath></defs></svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="options-containner">
                            <div id="options-title-containner">
                                <h1 id="options-title-h1">Opções</h1>
                            </div>
                            <div id="options-content">
                                <div id="options-button-content">
                                    <svg class="options-button-class" id="options-button-back-music" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m234.035 511.997c8.829 0 17.487-3.456 24.007-9.976.13-.13.259-.262.386-.395l212.221-222.208c.049-.051.097-.103.146-.154 12.241-13.046 12.241-33.483 0-46.529-.049-.052-.097-.104-.146-.154l-212.221-222.208c-.127-.133-.256-.265-.386-.395-9.759-9.759-24.304-12.65-37.053-7.37-12.751 5.282-20.989 17.612-20.989 31.413v443.959c0 13.801 8.238 26.131 20.989 31.412 4.232 1.753 8.659 2.605 13.046 2.605zm13.965-443.044 178.64 187.047-178.64 187.047z"></path><path d="m116 512c24.262 0 44-19.738 44-44v-424c0-24.262-19.738-44-44-44h-40c-24.262 0-44 19.738-44 44v424c0 24.262 19.738 44 44 44zm-36-464h32v416h-32z"></path></svg>
                                    <div id="options-button-play-music-containner">
                                        <svg class="options-button-class" style="display: none;" id="options-button-pause-music" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 33"><path d="m24 2h-3a3 3 0 0 0 -3 3v22a3 3 0 0 0 3 3h3a3 3 0 0 0 3-3v-22a3 3 0 0 0 -3-3zm1 25a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1-1v-22a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1zm-14-25h-3a3 3 0 0 0 -3 3v22a3 3 0 0 0 3 3h3a3 3 0 0 0 3-3v-22a3 3 0 0 0 -3-3zm1 25a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1-1v-22a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1z"></path></g></svg>
                                        <svg class="options-button-class" id="options-button-play-music" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 155.908 155.908" xml:space="preserve"><g><path d="M143.878,58.015L46.02,6.45c-9.816-5.172-21.348-4.838-30.848,0.894C5.672,13.076,0,23.122,0,34.218v87.473 c0,11.096,5.672,21.142,15.172,26.874c5.018,3.028,10.601,4.549,16.2,4.549c5.001,0,10.016-1.215,14.647-3.655l97.858-51.566 c7.42-3.91,12.03-11.55,12.03-19.938S151.298,61.926,143.878,58.015z M135.486,81.968l-97.858,51.566 c-4.249,2.239-9.045,2.101-13.157-0.381C20.358,130.671,18,126.493,18,121.69V34.218c0-4.803,2.358-8.981,6.471-11.462 c2.169-1.309,4.529-1.966,6.898-1.966c2.122,0,4.251,0.527,6.259,1.585l97.858,51.565c2.186,1.152,2.422,3.191,2.422,4.014 S137.672,80.816,135.486,81.968z"></path></g></svg>
                                    </div>
                                    <svg class="options-button-class" id="options-button-next-music" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m234.035 511.997c8.829 0 17.487-3.456 24.007-9.976.13-.13.259-.262.386-.395l212.221-222.208c.049-.051.097-.103.146-.154 12.241-13.046 12.241-33.483 0-46.529-.049-.052-.097-.104-.146-.154l-212.221-222.208c-.127-.133-.256-.265-.386-.395-9.759-9.759-24.304-12.65-37.053-7.37-12.751 5.282-20.989 17.612-20.989 31.413v443.959c0 13.801 8.238 26.131 20.989 31.412 4.232 1.753 8.659 2.605 13.046 2.605zm13.965-443.044 178.64 187.047-178.64 187.047z"></path><path d="m116 512c24.262 0 44-19.738 44-44v-424c0-24.262-19.738-44-44-44h-40c-24.262 0-44 19.738-44 44v424c0 24.262 19.738 44 44 44zm-36-464h32v416h-32z"></path></svg>
                                </div>
                                <div id="options-volume-content">
                                    <svg id="options-volume-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M224.511,85.363l-113.319,87.168H50.087C22.469,172.531,0,195,0,222.618V289.4c0,27.618,22.469,50.087,50.087,50.087 h61.105l113.319,87.168c21.916,16.859,53.75,1.274,53.75-26.466V111.829C278.261,84.134,246.452,68.481,224.511,85.363z M100.174,306.096H50.087c-9.206,0-16.696-7.49-16.696-16.696v-66.783c0-9.206,7.49-16.696,16.696-16.696h50.087V306.096z M244.87,400.189l-111.304-85.619V197.447l111.304-85.619V400.189z"></path></g></g><g><g><path d="M438.649,78.916c-6.52-6.52-17.092-6.52-23.611,0c-6.52,6.52-6.52,17.091,0,23.611 c40.995,40.995,63.57,95.499,63.57,153.473s-22.576,112.479-63.57,153.473c-6.52,6.52-6.52,17.091,0,23.611 c6.519,6.52,17.091,6.52,23.611,0C485.95,385.783,512,322.894,512,256S485.95,126.217,438.649,78.916z"></path></g></g><g><g><path d="M391.427,126.139c-6.518-6.519-17.09-6.52-23.611,0c-6.52,6.52-6.52,17.091,0,23.611 c58.586,58.586,58.586,153.914,0,212.501c-6.52,6.52-6.52,17.091,0,23.611c6.519,6.519,17.091,6.52,23.611,0 C463.033,314.257,463.033,197.744,391.427,126.139z"></path></g></g><g><g><path d="M344.204,173.361c-6.519-6.52-17.091-6.52-23.611,0s-6.52,17.091,0,23.611c32.548,32.549,32.548,85.507,0,118.056 c-6.52,6.52-6.52,17.091,0,23.611c6.519,6.52,17.091,6.521,23.611,0C389.771,293.072,389.771,218.929,344.204,173.361z"></path></g></g></svg>
                                    <input type="range" id="volumeRange" min="0" max="100" step="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="roomMembers-containner" style="display: none;">
                    <div id="close-popup-out"></div>
                    <div id="roomMembers-content">
                        <div class="folow-info-title-containner">
                            <h1 class="folow-info-title">Conectados</h1>
                            <div id="close-popup-button-roomMembers">
                                <img src="../public/assets/svg/close_g0xorss70bu5.svg" alt="">
                            </div>
                        </div>
                        <div class="linha"></div>
                        <div id="roomMembers-row">
                            <div id="optinosUser-containner-op">
                                <ul id="optinosUser-containner-list">
                                    <li id="profileView" class="optinosUser-containner-list-item"><svg class="optionsUser-containner-list-item-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 457.728 457.728" style="enable-background:new 0 0 457.728 457.728;" xml:space="preserve"><g><g><path d="M228.864,0C102.912,0,0,102.4,0,228.864c0,125.952,102.4,228.864,228.864,228.864s228.864-102.912,228.864-228.864 S354.816,0,228.864,0z M228.864,117.248c38.912,0,71.168,31.744,71.168,71.168c0,38.912-31.744,71.168-71.168,71.168 s-71.168-32.256-71.168-71.68C157.696,148.992,189.952,117.248,228.864,117.248z M228.864,410.624 c-43.52,0-83.456-15.36-114.688-40.96c32.768-35.84,72.704-55.808,114.688-55.808s82.432,19.456,114.688,55.808 C312.32,395.264,272.384,410.624,228.864,410.624z"></path></g></g></svg>Ver Perfil</li>
                                    <li id="bloquearUser" class="optinosUser-containner-list-item blok"><svg class="optionsUser-containner-list-item-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 468.293 468.293" style="enable-background:new 0 0 468.293 468.293;" xml:space="preserve"><path style="fill:#D15241;" d="M234.146,0C104.898,0,0,104.898,0,234.146s104.898,234.146,234.146,234.146 s234.146-104.898,234.146-234.146S363.395,0,234.146,0z M66.185,234.146c0-93.034,75.551-168.585,167.961-168.585 c34.966,0,68.059,10.615,94.907,29.346L95.532,329.054C76.8,302.205,66.185,269.112,66.185,234.146z M234.146,402.107 c-34.966,0-68.059-10.615-94.907-29.346l233.522-233.522c18.732,26.849,29.346,59.941,29.346,94.907 C402.107,327.18,327.18,402.107,234.146,402.107z"></path></svg> Bloquear</li>
                                    <li class="optinosUser-containner-list-item"><svg class="optionsUser-containner-list-item-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.000000 32.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"><path d="M183 294 c-23 -23 -25 -30 -18 -82 4 -31 8 -58 8 -58 1 -1 26 2 56 6 39 5 60 13 73 30 63 78 -47 175 -119 104z m97 -14 c41 -41 9 -100 -55 -100 -19 0 -35 4 -35 9 0 5 -3 22 -6 39 -12 58 54 94 96 52z"/><path d="M230 255 c0 -14 5 -25 10 -25 6 0 10 11 10 25 0 14 -4 25 -10 25 -5 0 -10 -11 -10 -25z"/><path d="M230 210 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0-10 -4 -10 -10z"/><path d="M40 210 c-22 -22 -25 -42 -10 -70 8 -15 6 -24 -10 -40 -20 -20 -27 -50 -12 -50 5 0 14 11 20 25 21 45 92 42 107 -5 3 -11 11 -20 16 -20 16 0 10 29 -11 50 -16 16 -18 25 -10 40 5 10 10 26 10 34 0 22 -36 56 -60 56 -11 0 -29 -9 -40 -20z m70 -15 c15 -18 10 -45 -12 -59 -35 -22 -74 27 -48 59 16 19 44 19 60 0z"/></g></svg> Denunciar</li>
                                    <li id="expulsarUserConec" class="optinosUser-containner-list-item"><svg class="optionsUser-containner-list-item-svg" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.000000 90.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,90.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"><path d="M355 797 c-54 -18 -99 -42 -115 -62 -11 -13 -11 -18 2 -32 15 -14 21 -13 75 13 82 41 183 41 265 1 107 -53 163 -144 163 -267 0 -85 -21 -142 -74 -203 -82 -93 -237 -121 -354 -63 -54 26 -60 27 -75 13 -14 -15 -14 -18 2 -36 37 -40 115 -66 206 -66 72 0 94 4 145 28 78 36 146 104 182 181 24 52 28 74 28 146 0 72 -4 94 -28 146 -57 123 -177 204 -311 211 -41 1 -88 -3 -111 -10z"/><path d="M128 533 c-38 -38 -68 -75 -68 -84 0 -24 135 -152 156 -147 33 6 28 38 -12 79 l-38 39 170 2 169 3 0 25 0 25 -169 3 -170 2 38 39 c41 41 45 74 11 79 -14 2 -42 -19 -87 -65z"/></g></svg> Expulsar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bottom-containner">
                    <div id="bottom-content">
                        <button title="Convidar Pessoas" class="buttonsButtomInterec" id="roomInvite">
                            <svg class="IconsRoomIntec" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"><path d="M3776 5095 c-476 -90 -815 -475 -842 -955 -16 -273 92 -564 276 -745 51 -50 60 -65 38 -65 -24 0 -240 -110 -324 -165 -47 -30 -88 -55 -92 -55 -4 0 -26 37 -49 83 -117 229 -348 422 -598 500 -217 68 -457 60 -675 -22 -244 -92 -470 -314 -572 -563 -112 -275 -100 -579 34 -843 52 -103 86 -151 160 -230 l59 -64 -36 -16 c-21 -8 -39 -15 -42 -15 -2 0 -54 -25 -116 -56 -453 -227 -803 -623 -957 -1082 -58 -174 -49 -329 27 -482 47 -93 160 -211 248 -257 127 -66 70 -63 1128 -63 l959 0 39 22 c21 12 51 39 66 61 24 34 28 50 28 108 0 59 -4 73 -30 110 -16 23 -50 53 -74 66 l-44 23 -911 0 c-867 0 -913 1 -952 19 -50 23 -81 53 -105 106 -23 49 -24 90 -3 152 122 365 402 681 759 858 203 100 378 149 590 163 337 24 626 -50 934 -237 91 -55 131 -67 189 -56 153 27 214 223 104 333 -47 46 -224 151 -334 199 -46 19 -85 37 -87 39 -2 2 23 32 56 67 137 143 229 333 262 544 9 55 14 66 56 105 121 112 328 235 490 292 196 69 344 91 569 83 288 -10 500 -75 750 -229 85 -53 108 -63 155 -66 184 -12 280 216 145 342 -44 40 -178 120 -300 178 -60 28 -111 53 -113 54 -2 2 23 32 56 66 126 133 205 282 249 474 28 117 26 330 -4 447 -93 373 -374 659 -741 754 -123 32 -309 39 -425 18z m302 -400 c347 -82 558 -416 472 -749 -62 -244 -250 -421 -494 -465 -261 -48 -537 91 -655 330 -85 172 -92 335 -24 509 109 276 419 441 701 375z m-2063 -1370 c224 -47 422 -246 470 -471 68 -319 -123 -635 -440 -730 -82 -25 -248 -25 -330 0 -282 84 -470 349 -451 634 21 326 287 578 611 581 39 0 102 -6 140 -14z"/><path d="M4109 1881 c-44 -14 -80 -43 -108 -85 l-26 -41 -3 -307 -3 -307 -308-3 -308 -3 -40 -27 c-53 -35 -83 -85 -90 -150 -4 -45 -1 -61 24 -108 23 -44 39 -60 82 -82 l53 -28 294 0 294 0 0 -293 0 -293 26 -52 c36 -72 87 -102 174 -102 87 0 138 30 174 102 l26 52 0 293 0 293 294 0 294 0 53 28 c43 22 59 38 82 82 25 47 28 63 23 109 -6 69 -45 126 -105 158 -43 23 -49 23 -342 23 l-298 0 -3 308 c-3 303 -3 307 -27 345 -34 55 -88 87 -152 92 -30 3 -66 1 -80 -4z"/></g></svg>
                        </button>
                        <button title="Usuarios Conectados" class="buttonsButtomInterec" id="roomMembers">
                            <svg class="IconsRoomIntec"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.996 511.996" style="enable-background:new 0 0 511.996 511.996;" xml:space="preserve"><g><g><g><path d="M210.634,237.561c6.905,5.848,17.244,4.988,23.092-1.917c5.84-6.905,4.979-17.244-1.926-23.092 c-21.033-17.812-29.331-51.917-19.276-79.34c4.153-11.369,15.149-30.423,41.995-30.423c13.685,0,24.228,4.535,32.206,13.871 c12.318,14.395,15.415,36.91,13.09,51.704c-5.05,31.621-23.625,57.029-58.449,79.952c-7.552,4.979-9.647,15.131-4.668,22.693 c3.151,4.783,8.369,7.375,13.703,7.375c3.097,0,6.221-0.87,8.99-2.689c27.086-17.847,64.102-47.844,72.79-102.201 c3.319-21.086-0.071-54.198-20.536-78.133c-14.191-16.578-33.937-25.346-57.118-25.346c-33.653,0-60.854,19.409-72.773,51.917 C166.98,162.259,179.12,210.883,210.634,237.561z"></path><path d="M388.244,315.321c-12.38-37.079-64.874-60.188-70.82-62.7c-4.047-1.713-8.626-1.731-12.691-0.027 c-4.056,1.695-7.259,4.952-8.901,9.034c-7.828,19.551-23.491,31.683-40.877,31.683c0,0,0,0-0.009,0 c-17.297,0-32.366-11.839-40.3-31.674c-1.633-4.091-4.837-7.348-8.901-9.043c-4.047-1.695-8.626-1.677-12.691,0.027 c-5.946,2.512-58.44,25.621-70.811,62.7c-7.428,22.276-7.153,38.046-6.869,54.739c0.062,3.355,0.124,6.86,0.124,10.57 c0,9.052,7.331,16.392,16.383,16.392c9.052,0,16.383-7.339,16.383-16.392c0-3.905-0.062-7.597-0.124-11.129 c-0.266-15.602-0.461-26.873,5.192-43.823c4.464-13.374,22.826-27.139,38.907-36.138c14.457,22.888,37.354,36.528,62.709,36.537 h0.009c25.639,0,48.731-13.658,63.268-36.555c16.099,8.999,34.469,22.773,38.933,36.156c3.009,9.017,6.541,30.866,7.144,83.529 H130.354c-9.052,0-16.383,7.331-16.383,16.383c0,9.052,7.331,16.392,16.383,16.392h251.314c9.043,0,16.383-7.339,16.383-16.392 c0-1.864-0.32-3.683-0.896-5.36C397.048,384.872,395.841,338.129,388.244,315.321z"></path><path d="M484.171,217.841c0-47.267-33.183-85.721-73.971-85.721c-23.039,0-44.595,12.203-57.677,32.641 c-14.776,23.083-15.903,52.254-3.088,80.014c3.79,8.218,13.516,11.821,21.734,8.014c8.209-3.798,11.803-13.525,8.014-21.743 c-11.013-23.846-4.144-40.699,0.923-48.625c6.931-10.818,18.451-17.536,30.085-17.536c22.728,0,41.214,23.749,41.214,52.947 c0,29.224-18.486,53-41.214,53c-9.052,0-16.383,7.331-16.383,16.383s7.331,16.392,16.383,16.392 C450.97,303.606,484.162,265.134,484.171,217.841z"></path><path d="M505.949,350.82c-5.751-30.831-24.024-47.79-34.407-55.165c-7.393-5.236-17.616-3.497-22.835,3.878 c-5.236,7.384-3.505,17.607,3.878,22.844c7.748,5.493,17.705,15.948,21.166,34.478c2.245,11.901,3.639,25.985,4.464,36.75 h-47.329c-9.052,0-16.383,7.331-16.383,16.383c0,9.052,7.331,16.392,16.383,16.392h64.732c4.455,0,8.706-1.81,11.795-5.023 c3.088-3.213,4.739-7.535,4.57-11.981C511.931,408.017,510.688,375.953,505.949,350.82z"></path><path d="M101.813,270.823c-22.728,0-41.214-23.775-41.214-53c0-29.198,18.486-52.947,41.214-52.947 c11.652,0,23.19,6.718,30.112,17.536c5.068,7.925,11.937,24.778,0.941,48.633c-3.789,8.218-0.195,17.945,8.023,21.734 c8.191,3.781,17.936,0.195,21.734-8.023c12.797-27.769,11.661-56.931-3.115-80.014c-13.09-20.43-34.656-32.632-57.703-32.632 c-40.788,0-73.971,38.454-73.971,85.721c0,47.302,33.183,85.774,73.971,85.774c9.052,0,16.392-7.348,16.392-16.4 C118.195,278.154,110.865,270.823,101.813,270.823z"></path><path d="M81.134,393.614H33.788c0.825-10.765,2.228-24.876,4.482-36.803c3.301-17.865,12.762-28.151,20.11-33.626 c7.242-5.414,8.733-15.69,3.328-22.932c-5.405-7.26-15.682-8.733-22.932-3.328c-9.86,7.348-27.219,24.13-32.712,53.87 c-4.766,25.16-5.999,57.242-6.053,58.591c-0.16,4.455,1.482,8.777,4.579,11.981c3.088,3.204,7.339,5.014,11.794,5.014h64.75 c9.052,0,16.383-7.33,16.383-16.383C97.517,400.944,90.187,393.614,81.134,393.614z"></path></g></g></g></svg>
                        </button>
                        <button title="Desconectar" class="buttonsButtomInterec" id="leaveRoom">
                            <svg class="IconsRoomIntec" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.632 511.632" style="enable-background:new 0 0 511.632 511.632;" xml:space="preserve"><g transform="translate(0 -1)"><g><g><path d="M504.965,377.246c-19.435-36.715-81.472-73.813-88.704-78.059c-14.421-8.192-29.739-10.731-42.987-6.997 c-10.432,2.88-18.965,9.301-24.789,18.624c-8.128,9.664-18.176,21.056-20.288,22.912c-16.384,11.115-27.179,9.963-41.323-4.181 c-4.629-4.651-11.136-6.997-17.749-6.08c-6.507,0.811-12.309,4.608-15.68,10.261l-42.389,71.509 c-4.971,8.384-3.627,19.093,3.264,25.963c61.141,61.141,113.301,81.429,155.627,81.429c46.059,0,80.448-24.043,102.037-45.632 l22.912-22.912C512.666,426.312,516.72,399.475,504.965,377.246z"></path><path d="M96.506,304.559c3.755,0,7.509-0.981,10.88-2.987l71.488-42.411c5.675-3.349,9.493-9.152,10.304-15.68 s-1.429-13.099-6.08-17.749c-14.336-14.336-15.403-24.747-4.757-40.533c2.411-2.859,13.803-12.949,23.488-21.056 c9.301-5.824,15.723-14.357,18.624-24.789c3.669-13.312,1.195-28.587-7.147-43.2c-4.117-7.019-41.216-69.056-77.931-88.491 C113.189-4.071,86.288-0.039,68.538,17.732L45.626,40.644C4.197,82.073-46.235,170.649,81.424,298.308 C85.52,302.425,90.981,304.559,96.506,304.559z"></path><path d="M441.319,71.309c-8.341-8.341-21.824-8.341-30.165,0l-384,384c-8.341,8.341-8.341,21.824,0,30.165 c4.16,4.16,9.621,6.251,15.083,6.251c5.461,0,10.923-2.091,15.083-6.251l384-384C449.66,93.133,449.66,79.65,441.319,71.309z"></path></g></g></g></svg>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <div>
        <div> <audio autoplay hidden controls id="audioTag"></audio> </div>
        <div> <div id="getRoomObg" data-room="<%= JSON.stringify(room) %>"></div></div>
        <script>
            var uid = '<%= myUser.uid %>'
            var joinroom = '<%= myUser.joinroom %>'
            var profilePic = '<%= myUser.profilePic %>'
            var displayName = '<%= myUser.displayName %>'
            var room = JSON.parse(document.getElementById('getRoomObg').getAttribute('data-room'))
        </script>
    </div>
    <%- include('./reusable/script.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../public/js/room.js"></script>
</body>
</html>